.admin-visible{
	display: block;
}
.admin-hidden{
	display: none;
}
.admin-flex{
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin: 1rem  auto;

}
.admin-flex a{
	color: var(--main-dark-color);
	
}
.admin-flex ul{
	width: 100%;

}
.admin-flex li{
	display: flex;
	background-color: var(--background-pink);
	border-radius: 0.5rem;
	padding: 0.5rem;
	margin: 0.5rem auto;
	width: 100%;

}
.text-style-admin{
	align-self:center;
	padding-left: 1rem;
}
.admin-flex a:hover{
	color: var(--main-color);
	
}
.log-in-form{
	display: flex;
	flex-direction: column;
}
.btn-log-in, .log-in-field{
	height: 3rem;
}


@media (min-width: 520px) {

}


@media (min-width: 723px) {
	.log-in-form{
		flex-direction: row;
		align-items: center;
		justify-content: center;

	}
	.form-field{
		flex-basis: 35%;
		margin-right: 2rem;
		
	}
}
@media (min-width: 933px) {
	
}
@media (min-width: 1127px) {
	
}