#admin{
	display: none;
}
.admin-flex{
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin: 1rem  auto;
}
.admin-flex a{
	color: var(--main-dark-color);
	
}
.admin-flex li{
	display: flex;
	background-color: var(--background-pink);
	border-radius: 0.5rem;
	padding: 0.5rem;
	margin: 0.5rem auto;
}
.text-style-admin{
	align-self:center;
	padding-left: 1rem;
}
.admin-flex a:hover{
	color: var(--background-pink);
	
}
.log-in-form{
	display: flex;
	flex-direction: column;
}


@media (min-width: 520px) {

}


@media (min-width: 723px) {
	.log-in-form{
		flex-direction: row;
		justify-content: center;

	}
	.form-field{
		flex-basis: 50%;
	}
}
@media (min-width: 933px) {
	
}
@media (min-width: 1127px) {
	
}