.bio__flex{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap-reverse;
	color: var(--main-dark);
	text-align: center;
}
.bio-col-1 .bio-col-2{
	width: 100%;
}
.content-container{
	margin: 0 auto;

	}
.text-style{
	color: var(--main-color);
	font-weight: 300;
	padding: 1rem 0 1rem;
}
.tab-titles{
	display: flex;
	padding: 1rem 0 2rem;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.tab-links{
	position: relative;
}
.tab-links::after{
	content: "";
	width: 0;
	height: 3px;
	background: var(--background-pink);
	position: absolute;
	left: 0;
	bottom: -0.5rem;
	transition: 0.5s;
}
.tab-links.active-link::after{
width: 100%;
}
.tab-content{
	color: var(--main-dark);
	font-weight: 300;
}
.tab-content li{
	padding: 0.5rem 0;
}
.tab-content span{
	color: var(--background-pink);
	font-weight: 300;
}
.tab-content{
	display: none;
}
.tab-content.active-tab{
	display: block;
}
.bio-col-1 img{
	width: 100%;
	border-radius: 2rem;
}
	@media (min-width: 723px) {
		.bio__flex{
			text-align: start;
		}
		.tab-titles{
		
			justify-content: start;
			gap: 1rem;
		}
		.bio-col-1{
			flex-basis: 35%;
		}
		
		
		.bio-col-2{
			flex-basis: 55%;
		}
	}
	@media (min-width: 933px) {
		
	}
	@media (min-width: 1127px) {
		
	}