.bio__flex{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

}
.bio-col-1 .bio-col-2{
	width: 100%;
}
.content-container{
	margin: 2rem auto;

	color: var(--main-dark);
	}
.text-style{
	color: var(--main-color);
	font-weight: 300;
	padding: 1rem 0 1rem;
}
.tab-titles{
	display: flex;
	padding: 1rem 0 2rem;
}
.tab-links{
	margin-right: 2rem;
	position: relative;
}
.tab-links::after{
	content: "";
	width: 0;
	height: 3px;
	background: var(--background-pink);
	position: absolute;
	left: 0;
	bottom: -0.5rem;
	transition: 0.5s;
}
.tab-links.active-link::after{
width: 100%;
}
	@media (min-width: 723px) {

		.bio-col-1{
			flex-basis: 35%;
		}
		.bio-col-1 img{
			width: 100%;
			border-radius: 15px;
		}
		.content-container{
			padding: 2rem;			
			color: var(--main-dark);
			}
		.bio-col-2{
			flex-basis: 55%;
		}
	}
	@media (min-width: 933px) {
		
	}
	@media (min-width: 1127px) {
		
	}