#contacts{
	background-color: var(--background-pink);
}
#contacts .social-media-link a{
	display: block;
	padding: 1rem;
	color:white;
	transition-duration: 0.7s;
	background-color: var(--background-pink);
	transition-timing-function: linear;
	text-align: center;
}
#contacts .social-media-link a:hover{
	background-color: var(--background-pink-hover);
	border-radius: 2px;
}
.text-style-white{
	color: white;
	font-weight: 300;
	padding: 1rem 0 1rem;
}