#contacts{
	background-color: var(--background-pink);
}
#contacts .social-media-link a{
	display: block;
	padding: 1rem;
	color:white;
	transition-duration: 0.7s;
	background-color: var(--background-pink);
	transition-timing-function: linear;
	text-align: center;
}
#contacts .social-media-link a:hover{
	background-color: var(--background-pink-hover);
	border-radius: 2px;
}
.text-style-white{
	color: white;
	font-weight: 300;
	padding: 1rem 0 1rem;
}
.contacts-flex{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.left-column{
	flex-basis: 100%;
	text-align: center;
}
.right-column{
	flex-basis: 100%;
	
}
.form{
	display: flex;
	flex-direction: column;
	width: 100%;
}
.form-field{
	width: 100%;
	border: 0;
	padding: 1rem;
	margin: 0.7rem 0;
	background-color: var(--background-pink-hover);
	border-radius: 0.5rem;
}
.form-field:hover{
	
	background-color: var(--background-gray);
	
}
.form-field:active{
	border-color: black;
	background-color: var(--background-gray);
	
}
@media (min-width: 520px) {

}


@media (min-width: 723px) {
	.left-column{
		flex-basis: 35%;
		text-align: start;

	}
	
	.right-column{
		flex-basis: 45%;
		
	}
	.contacts-flex{
		
		flex-direction: row;
		justify-content: space-between;	
	}
}
@media (min-width: 933px) {
	
}
@media (min-width: 1127px) {
	
}

