.header-top{
	background-color: var(--background-gray);
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	position: fixed;
	top:0;
	right:0;
	width: 100%;
	height: 5rem;
	align-items: center;
	z-index: 5;
}
.nav-menu{
	width: 100%;
	position: fixed;
	top:5rem;
	transition: top 0.5s;
}
.nav-list{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--background-pink);


}
.nav-list li{
	display: block;
	width: 100%;
}
.social-media-list{
	display: flex;
	align-items: center;


}

.nav-list a{
	display: block;
	padding: 1rem;
	color:white;
	transition-duration: 0.7s;
	background-color: var(--background-pink);
	transition-timing-function: linear;
	text-align: center;
}


.nav-list a:hover{
	background-color: var(--background-pink-hover);
	border-radius: 2px;
}

.logo{
	width: 5rem;
	margin-left: 1rem;
}
.logo-img{
	width: 100%;
}
.nav-list li{
	display: inline-block;
	width: auto;
}

.nav-menu-burger i{
	font-size: 3rem;
	margin-right: 2rem;
}
.nav-menu-burger i{
	cursor: pointer;
}
.hidden{
	top: -500px;
}

@media (min-width: 723px) {
	
	.nav-menu-burger{
		display: none;
	}
	.header{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	.header-top{
		z-index: 0;
	}
	.nav-menu{
		position: fixed;
		right: 0;
		top: 0;
		width: auto;
		z-index: 10;
		margin-top: 1rem;
		margin-right: 1rem;
		background-color: var(--background-gray);
		color: var(--main-dark);
		
	}
	.nav-list{
		flex-direction: row;
		background-color: var(--background-gray);

	}
	.nav-list a{
		color:var(--main-dark);
		background-color: var(--background-gray);
		border-radius: 10px;

	}
	.nav-list a:hover{
		background-color: white;
		rotate: 2deg;
	}
}
