.main{
	margin-top: 5rem;
}


.content-container{
margin: 0 auto;
}

.home__title{
	font-size: 4rem;
	font-weight: 100;
	color: var(--main-dark);
	margin-left: 1rem;
}
.subtitle{
	color: var(--main-d);
	font-weight: 200;
	margin-left: 1rem;

}
.home__flex{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.home__picture{
	width: 100vw;
	z-index: -1;
	position: relative;
	top: -10rem;
	
}

@media (max-width: 520px) {
	.home__title{
		font-size: 3rem;
	}
	.subtitle{
		font-size: 2rem;
	}
	.body{
		min-width: 320px;
	}
}
@media (min-width: 723px) {
	.home__picture{
		width: 50vw;
		top: -6rem;
		border-radius: 1rem;
	}
	.home__flex{
		flex-direction: row;
	}
	.home__titles{
		margin-top: 6rem;
	}
	
}
@media (min-width: 933px) {
	.home__title{
		margin-left: 3rem;
	}
	.subtitle{
		margin-left: 3rem;
	}
	.home__picture{
		top: -4rem;
	}
	
	
}
@media (min-width: 1127px) {
	.home__picture{
		top: -2rem;
	}}