.main{
	margin-top: 5rem;
}


.content-container{
margin: 0 auto;
}

.home__title{
	font-size: 4rem;
	font-weight: 100;
	color: var(--main-dark);
}
.subtitle{
	color: var(--main-d);
	font-weight: 200;

}
.home__flex{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
}
.home__picture{
	width: 100%;
	z-index: -2;
	position: relative;
	border-radius: 2rem;
	
}
.home__titles{
   position: relative;
	top: 10rem;
	z-index: -1;
}

@media (max-width: 520px) {
	
	
}
@media (min-width: 723px) {
	
	.home__flex{
		
	flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
	.home__titles{
		align-self: center;
		position: static
	}
	.main{
		position: relative;
	}
	#main-img{      
		content:url("/sourse/img/422749736_352870154183603_141032903342476910_n2.jpg");
	} 
}

@media (min-width: 933px) {
	
	
	
	
}
@media (min-width: 1127px) {
	}