
.main{
	margin-top: 5rem;
}


.content-container{
padding: 0.5rem;
margin: 0 auto;
	
}
.home__title{
	font-size: 4rem;
	font-weight: 100;
	color: var(--main-dark);
}
.subtitle{
	color: var(--main-color)
}
.home__flex{
	display: flex;
	flex-direction: column;
	justify-content: center;
	
}
.home__picture{
	width: 100%;
}
