@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,100;1,400;1,600;1,700;1,900&family=Ropa+Sans:ital@1&display=swap');
@import url(./header.css);
@import url(./home.css);
@import url(./bio.css);
@import url(./contacts.css);
@import url(./footer.css);


:root{
	--main-color: rgb(113, 113, 113);
	--main-dark-color: rgb(34, 34, 34);
	--hover-color: rgb(229, 165, 167);

	--background-pink: rgb(229, 165, 167);
	--background-pink-hover: rgb(235, 187, 189);
	--background-gray: rgb(225, 225, 225);
	--background-dark: rgb(3, 3, 3);
	
	
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	text-decoration: none;

}
li{
	list-style: none;
}


html{
	scroll-behavior: smooth;
}



/* CSS */
.btn {
  background-color: white;
  border: 1px solid var(--main-dark-color);
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: var(--main-dark-color);
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  outline: none;
  padding: 0.7rem 1.5rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  width: auto;
}


.btn:hover {
  background-color: var(--background-gray);
  border-color: black;
  transform: scale(.96);
}

i{
	font-size: 16px;
}
.content-container{
	padding: 1rem;			
	
	}

.container{
	width: 100%;
	position: relative;
}




@media (min-width: 723px) {
	.content-container{
		padding: 2rem;			
		
		}
}
@media (min-width: 933px) {
	html{
		font-size: 18px;
	}
}
@media (min-width: 1127px) {
	html{
		font-size: 20px;
	}
}

