.work-flex{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;
	margin-top: 1rem;
	position: relative;
	z-index: -1;
}
.work-item img{
	width: 100%;
	border-radius: 2rem;
	border: 1px solid var(--main-dark-color);
	border-radius: 0.5rem;
	box-shadow: 5px 5px 20px var(--main-color);
}
.work-item{
	transition-duration: 1s;
	padding: 0.5rem;

}
.work-item:hover{
	justify-self: center;
	transform: scale(0.97);

}
.text-style-item{
	font-weight: 300;
	text-align: center;
	color: var(--main-dark-color);
	padding: 0.5rem;
}

@media (min-width: 723px) {
	.work-item{
		flex-basis: 50%;
		justify-self: center;
		transition-duration: 1s;
	}
}
@media (min-width: 933px) {
	.work-item{
		flex-basis: 33%;
		justify-self: center;
		transition-duration: 1s;
	}
}